body {
    background-color: #ED1C24;
    text-align: center;
}

header {
    margin-bottom: 50px;
}

.settingLogo {
    width: 30px;
    height: 30px;
}

.LogoAdd, .LogoSub {
    width: 40px;
    height: 40px;   
}

#boutonAjoutJoueur {
    width: 40px;
    height: 40px;
}

.joueurs {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Pour la gestion des options de paramètres */
}

header img {
    width: 200px;
    height: auto;
}

.joueurs form input {
    width: 50px;
    height: auto;
    margin: 10px;
    font-size: 20px;
}

.joueurs img {
    /* Styles pour les images */
}

.joueurs p {
    color: aliceblue;
    font-weight: bold;
    margin: 10px;
}

.totalScore {
    font-size: 50px;
}

#addJoueur {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#addJoueur p {
    margin: 10px;
}

hr {
    width: 100px;
    margin: 30px auto 20px auto;
}

p {
    color: aliceblue;
}

/* Classe pour cacher le conteneur du joueur */
.hide-joueur {
    display: none;
}

/* Classe pour centrer le menu des paramètres */
.settingList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: solid 2px white;
    border-radius: 10px;
    z-index: 1000; /* Assurez-vous que le menu est au-dessus des autres éléments */
}

#suppJoueur{
    padding-bottom: 10px;
    border-bottom: 2px solid #ED1C24;
    text-decoration: none;
    font-size: 20px;
    color: hwb(56 0% 0%);
    font-weight: bold;
}

#RenommerJoueur{
    padding-top: 10px;
    text-decoration: none;
    font-size: 20px;
    color:hwb(56 0% 0%);
    font-weight: bold;
}
